# Aerospike database configuration file.

# This stanza must come first.
service {
	user root
	group root
	# paxos-single-replica-limit 1 # Number of nodes where the replica count is automatically reduced to 1. #obsolete as of 6.0
	pidfile /var/run/aerospike/asd.pid
	# service-threads 12 # default is 5 x cpus
	# transaction-queues 12  # obsolete as of 4.7
	# transaction-threads-per-queue 4 #obsolete as of 4.7
	proto-fd-max 15000
	feature-key-file /opt/aerospike/etc/aerospike-license.conf
	cluster-name test
}

logging {

	# Log file must be an absolute path.
	file /dev/stdout {
		context any warning
	}

	# Send log messages to stdout
	console {
		context any warning 
	}
}

network {
    tls aerospike.test.aerospike.dev {
      cert-file /opt/aerospike/etc/aerospike_server.crt
      key-file /opt/aerospike/etc/aerospike_server.key
      ca-file /opt/aerospike/etc/ca.crt
      protocols TLSv1.2
    }

	service {
		address any
		port 3000
        tls-address any
        tls-port 4333
        tls-authenticate-client false
        tls-name aerospike.test.aerospike.dev

		# Uncomment the following to set the `access-address` parameter to the
		# IP address of the Docker host. This will the allow the server to correctly
		# publish the address which applications and other nodes in the cluster to
		# use when addressing this node.
		# access-address <IPADDR>
	}

	heartbeat {

        address any
		# mesh is used for environments that do not support multicast
		mode mesh
		port 3002

		# use asinfo -v 'tip:host=<ADDR>;port=3002' to inform cluster of
		# other mesh nodes

		interval 150
		timeout 10
	}

	fabric {
	    address any
		port 3001
	}

}

namespace test {
	replication-factor 2
	default-ttl 0
	nsup-period 120

	storage-engine device {
		file /opt/aerospike/data/test.dat
		filesize 128G
	}
}
